@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  min-height: 100%;
  margin: 0;
  padding: 0 40px;
  color: #333333;
  background-color: #F2F2F2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px #00000033;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 8px 10px;
  background: #756157;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  border-color: transparent;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
}
.button-light {
background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.product-favorites-active {
  background-color: #7DB54F;
}

.field {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border-radius: 4px;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans" sans-serif;
  color: #000000;
  background-color: #F2F2F2;
  border: 2px solid transparent;
}



.range-input {
  width: 143px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-text {
margin: 0;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #333333;
}

img {
  object-fit: contain;
  height: auto;
}

.index-header {
  padding: 0 70px;
  position: relative;
  z-index: 2;
  border: none;
  min-height: 64px;
}

.menu {
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: start;
}
.logo-link {
  display: block;
  width: 140px;
  margin-bottom: -6px;
  align-self: start;
}

.logo {
  display: block;
  width: 100%;
}
.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin-right: auto;
}

.menu-link {
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}


.user-list {

  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  max-width: 140px;
  margin: 12px 0 0 avto;
}

.user-link {
  display: block;
  width: 44px;
  height: 44px;
  color: #000000;
  position: relative;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.user-link-search {
  background-image: url(../images/svg/search.svg);
}

.user-link-favorites {
  background-image: url(../images/svg/heart.svg);
  text-align: right;
}

.user-favorites-num {
 display: inline-block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px 2px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 10px;
}

.menu-button {
  width: 160px;
  margin-top: 14px;
  padding: 8px 34px;
}


main {
  flex-grow: 1;
}

.hero {
  position: relative;
  min-height: 485px;
  padding: 50px 70px 82px;
  background-image: url(../images/svg/zigzag.svg),
   url(../images/background-hero.jpg);
  text-align: center;
  color: #ffffff;
  background-color: #343e47;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%, auto, cover;
  border: none;

}

.advantages-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 69px 0;
  color: #000000;
}

.advantages-title {
  margin-bottom: 25px;
}

.blocks-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  }

.blocks-text{
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);

}
.advantages-item-full {

  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
  grid-column: 1 / -1;
}

li.advantages-item:nth-child(3) {
  background: #83B3D333;
}

li.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-revers {
  flex-direction: row-reverse;

}

.advantages-image {
  flex-shrink: 0;
  width: 800px;
  margin: 0;
}

.advantages-image img {
  display: block;

}
.advantages-contents {
  max-width: 400px;
  min-height: 385px;
  padding: 115px 85px 100px;
  text-align: center;
}

.advantages-subtitle {
  position: relative;
  padding-bottom: 30px;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}
.advantages-item-full .advantages-contents {
padding-top: 103px;
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.service-content {
padding: 69px 70px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0;

}

.service-item {
  list-style: none;
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 75px 72px;
  text-align: center;
  padding: 180px 85px 20px;
  min-height: 385px;
}

.service-item:nth-child(2n) {
background-color: #ffffff;
}

.services-item-house {
  background-image: url(../images/svg/service/service-housing.svg);
}

.services-item-food {
  background-image: url(../images/svg/service/service-food.svg);
}

.services-item-souvenirs {
  background-image: url(../images/svg/service/service-souvenirs.svg);
}

.service-title {
  margin-bottom: 30px;
}
.service-subtitle {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
}

.search {
 text-align: center;
  padding: 90px 70px;

}

.search-title{
margin-bottom: 20px;
}

.search-text {
  margin-bottom: 50px;
}

.search-button {
  display: block;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  width: 376px;
  margin: 0 auto;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
  color: #000000;

}

.subscribe-home {
  color: #ffffff;
  background-color: #93adb9;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;

}

.subscribe-text {
  margin-bottom: 50px;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  justify-content: center;
  width: auto;
}
.subscribe-button {
  height: 52px;
  width: 232px;
  display: inline-flex;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;

}

.subscribe-input {
  width: 452px;
  height: 52px;
   padding: 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-home .subscribe-title, .subscribe-text {
  color: #ffffff;
}

.subscribe-input::placeholder {
  font-weight: 400;
}
.footer {
  display: flex;
  gap: 41px;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-social {

  list-style: none;
  display: flex;
  flex-wrap: wrap ;
  margin: 0;
  align-items: center;
}

.social-item {
  padding: 1px 10px;
}

.htmlacademy-link {
display: block;
color: #000000;
width: 115px;
height: 33px;
}

.filter {
  color: #ffffff;
  background-color: #686a70;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background-filter.jpg);
}

.filter-main-title {
  margin: 0;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.breadcrumbs-link {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/svg/breadcrumbs-house.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;

  flex-shrink: 0;

}

.breadcrumbs-link-current {
  background-image: url(../images/svg/breadcrumbs-arrow.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding: 10px;
  padding-bottom: 2px;
}

.control-labelt {
  line-height: 23px;
}
.filter {
  padding: 35px 70px 70px 70px;
}


.filter-form {
display: grid;
grid-template-columns: 150px 150px 288px 191px;
row-gap: 70px;
padding: 0;
margin: 0;
background-color: transparent;
gap: 70px;
}
.filter-group {
border-color: transparent;
}

.filter-list {
  list-style: none;
padding: 0;
margin: 0;
}

.filter-group {
}

.range {
  display: flex;
}
.control-item {
  padding: 0;
}

.catalog {
  padding: 50px 70px 50px 70px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-finding {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-title {
  margin-right: 70px;
  justify-content: flex-end;
}

.catalog-select {
  margin-right: 70px;
width: 292px;
height: 49px;
}

.catalog-view {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 8px;
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
}

.view-link-active {
  background-color: #000000;
}

.view-link-tile {
  background-image: url(../images/svg/catalog-view/tile.svg);
}

.view-link-slideshow {
  background-image: url(../images/svg/catalog-view/slideshow.svg);
}

.view-link-list {
  background-image: url(../images/svg/catalog-view/list.svg);
}

.catalog-product {
  margin: 0;
  padding: 0;
background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin: 0;
}

.product-card {
  display: grid;
  min-height: 438px;
  max-width: 340px;
  padding: 20px;
  gap: 16px;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-link {
  grid-column: 1/-1;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-rating-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}

.product-rating-star {
  margin: 0;
  padding: 0;
  display: block;
  height: 37px;
  background-image: url(../images/svg/stars.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.product-rating-star-4 {
  width: 90px;
}

.product-rating-star-3 {
  width: 70px;
}

.product-rating-star-2 {
  width: 50px;
}

.product-text-price {
  text-align: end;
}

.pagination {
  margin-top: 40px;
display: flex;
justify-content: flex-start;
align-items: center;
row-gap: 8px;
list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  padding: 11.364px 0 12.636px 0;
  background-color: #82b3d3;
  background-size: 60px 60px;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
  border-color: transparent;
  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}
